*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 70%;
}

body {
  box-sizing: border-box;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.characterBox {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.04);
  display: flex;
  margin-bottom: 2rem;
  background-color: #D3D3D3;
}



.characterTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.characterImage {
  display: block;
  width: 25rem;
  height: auto;
  object-fit: cover;
}

.characterContent {
  padding: 1.5rem;
  width: 100%;
}

.characterBoxName {
  color: #191919;
  font-size: 1.8rem;
  font-family: 'Times New Roman', sans-serif;
}

.characterBlock {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.characterBlock .characterInfo:not(:last-child) {
  margin-right: 2rem;
}

.characterInfo {
  margin-top: 0.5rem;
}

.characterInfo--title {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #808080;
  font-weight: 600;
}

.characterInfo--text {
  font-size: 1.4rem;
  color: #191919;
}

.characterInfo--text span {
  font-weight: bold;
}

.characterInfo--text button {
  background: transparent;
  border: none;
  color: #2F80ED;
  text-decoration: underline;
  cursor: pointer;
}


.chapterContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 2;
  display: flex;
  justify-content: center;
}

.chapterBody{
  max-width: 700px;
  width: 100%;
  border-radius: 1rem;
  background-color: #D3D3D3;
  padding: 2rem;
  margin: 2rem 0;
  overflow: auto;
  position: relative;
}

.chapterBody h2 {
  font-size: 1.6rem;
  color: #191919;
  margin-bottom: 1rem;
}

.chapterClose {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

@media (max-width: 768px) { 
  .characterBox {
    flex-direction: column;
  }

  .characterImage {
    width: 100%;
    max-height: 20rem;
  }
  
}